$bower-components-path: "../bower_components" !default;
$bootstrap-sass-path: "#{$bower-components-path}/bootstrap-sass" !default;
$appmonitor-font-path: "../fonts" !default;

@import "bootstrap-variables";
