/*
 * Font Mfizz v1.2
 * Copyright 2013 Mfizz Inc, Joe Lauer
 * MIT License
 *
 * Project: http://mfizz.com/oss/font-mfizz
 *
 * The font designed for technology and software geeks representing programming
 * languages, operating systems, software engineering, and technology.
 *
 * Mfizz Inc
 * Web: http://mfizz.com/
 * Twitter: http://twitter.com/mfizz_inc
 *
 * Joe Lauer
 * Web: http://lauer.bz/
 * Twitter: http://twitter.com/jjlauer
 */

@font-face {
  font-family: "FontMfizz";
  src: url("#{$appmonitor-font-path}/font-mfizz.eot");
  src: url("#{$appmonitor-font-path}/font-mfizz.eot?#iefix") format("embedded-opentype"),
       url("#{$appmonitor-font-path}/font-mfizz.woff") format("woff"),
       url("#{$appmonitor-font-path}/font-mfizz.ttf") format("truetype"),
       url("#{$appmonitor-font-path}/font-mfizz.svg#font-mfizz") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="iconm-"]
[class*=" iconm-"] {
  font-family: FontMfizz;
}

[class^="iconm-"]:before,
[class*=" iconm-"]:before {
  font-family: FontMfizz;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.iconm-microscope:before { content: "\f100"; }
.iconm-cplusplus:before { content: "\f101"; }
.iconm-wireless:before { content: "\f102"; }
.iconm-fire-alt:before { content: "\f103"; }
.iconm-mobile-device:before { content: "\f104"; }
.iconm-objc:before { content: "\f105"; }
.iconm-redhat:before { content: "\f106"; }
.iconm-freebsd:before { content: "\f107"; }
.iconm-heroku:before { content: "\f108"; }
.iconm-python:before { content: "\f109"; }
.iconm-java:before { content: "\f10a"; }
.iconm-satellite:before { content: "\f10b"; }
.iconm-debian:before { content: "\f10c"; }
.iconm-grails:before { content: "\f10d"; }
.iconm-c:before { content: "\f10e"; }
.iconm-postgres:before { content: "\f10f"; }
.iconm-database-alt2:before { content: "\f110"; }
.iconm-raspberrypi:before { content: "\f111"; }
.iconm-nginx:before { content: "\f112"; }
.iconm-ruby-on-rails:before { content: "\f113"; }
.iconm-redis:before { content: "\f114"; }
.iconm-scala:before { content: "\f115"; }
.iconm-gnome:before { content: "\f116"; }
.iconm-perl:before { content: "\f117"; }
.iconm-mysql:before { content: "\f118"; }
.iconm-fedora:before { content: "\f119"; }
.iconm-ghost:before { content: "\f11a"; }
.iconm-google:before { content: "\f11b"; }
.iconm-netbsd:before { content: "\f11c"; }
.iconm-aws:before { content: "\f11d"; }
.iconm-bomb:before { content: "\f11e"; }
.iconm-looking:before { content: "\f11f"; }
.iconm-ruby:before { content: "\f120"; }
.iconm-mysql-alt:before { content: "\f121"; }
.iconm-playframework-alt:before { content: "\f122"; }
.iconm-osx:before { content: "\f123"; }
.iconm-database:before { content: "\f124"; }
.iconm-database-alt:before { content: "\f125"; }
.iconm-shell:before { content: "\f126"; }
.iconm-script:before { content: "\f127"; }
.iconm-antenna:before { content: "\f128"; }
.iconm-coffee-bean:before { content: "\f129"; }
.iconm-scala-alt:before { content: "\f12a"; }
.iconm-platter:before { content: "\f12b"; }
.iconm-java-duke:before { content: "\f12c"; }
.iconm-iphone:before { content: "\f12d"; }
.iconm-script-alt:before { content: "\f12e"; }
.iconm-google-alt:before { content: "\f12f"; }
.iconm-haskell:before { content: "\f130"; }
.iconm-mariadb:before { content: "\f131"; }
.iconm-phone-retro:before { content: "\f132"; }
.iconm-phone-alt:before { content: "\f133"; }
.iconm-csharp:before { content: "\f134"; }
.iconm-php:before { content: "\f135"; }
.iconm-postgres-alt:before { content: "\f136"; }
.iconm-html:before { content: "\f137"; }
.iconm-mfizz:before { content: "\f138"; }
.iconm-apache:before { content: "\f139"; }
.iconm-hadoop:before { content: "\f13a"; }
.iconm-ruby-on-rails-alt:before { content: "\f13b"; }
.iconm-mobile-phone-broadcast:before { content: "\f13c"; }
.iconm-css:before { content: "\f13d"; }
.iconm-playframework:before { content: "\f13e"; }
.iconm-clojure:before { content: "\f13f"; }
.iconm-mobile-phone-alt:before { content: "\f140"; }
.iconm-suse:before { content: "\f141"; }
.iconm-java-bold:before { content: "\f142"; }
.iconm-nginx-alt:before { content: "\f143"; }
.iconm-nginx-alt2:before { content: "\f144"; }
.iconm-linux-mint:before { content: "\f145"; }
.iconm-dreamhost:before { content: "\f146"; }
.iconm-blackberry:before { content: "\f147"; }
.iconm-javascript:before { content: "\f148"; }
.iconm-ubuntu:before { content: "\f149"; }
.iconm-php-alt:before { content: "\f14a"; }
.iconm-centos:before { content: "\f14b"; }
.iconm-nodejs:before { content: "\f14c"; }
.iconm-splatter:before { content: "\f14d"; }
.iconm-3dprint:before { content: "\f14e"; }
.iconm-line-graph:before { content: "\f14f"; }
.iconm-cassandra:before { content: "\f150"; }
.iconm-solaris:before { content: "\f151"; }
.iconm-jetty:before { content: "\f152"; }
.iconm-tomcat:before { content: "\f153"; }
.iconm-oracle:before { content: "\f154"; }
.iconm-oracle-alt:before { content: "\f155"; }
.iconm-mssql:before { content: "\f156"; }
.iconm-google-developers:before { content: "\f157"; }
.iconm-google-code:before { content: "\f158"; }
.iconm-kde:before { content: "\f159"; }
.iconm-grails-alt:before { content: "\f15a"; }

/* These classes only added to fix FontFamily to display FontMfizz during debug/inspection */
.iconm-osx,
.iconm-bomb,
.iconm-mobile-phone-broadcast,
.iconm-objc,
.iconm-nginx-alt2,
.iconm-mysql,
.iconm-phone-retro,
.iconm-netbsd,
.iconm-mobile-device,
.iconm-ruby-on-rails,
.iconm-phone-alt,
.iconm-line-graph,
.iconm-postgres,
.iconm-playframework,
.iconm-python,
.iconm-ruby-on-rails-alt,
.iconm-nginx,
.iconm-database-alt2,
.iconm-google-alt,
.iconm-microscope,
.iconm-blackberry,
.iconm-dreamhost,
.iconm-google,
.iconm-centos,
.iconm-kde,
.iconm-csharp,
.iconm-scala,
.iconm-redis,
.iconm-looking,
.iconm-database-alt,
.iconm-javascript,
.iconm-postgres-alt,
.iconm-linux-mint,
.iconm-ubuntu,
.iconm-apache,
.iconm-script-alt,
.iconm-mssql,
.iconm-c,
.iconm-gnome,
.iconm-java-duke,
.iconm-scala-alt,
.iconm-clojure,
.iconm-oracle-alt,
.iconm-redhat,
.iconm-haskell,
.iconm-3dprint,
.iconm-mariadb,
.iconm-java,
.iconm-script,
.iconm-cplusplus,
.iconm-jetty,
.iconm-perl,
.iconm-heroku,
.iconm-nginx-alt,
.iconm-iphone,
.iconm-splatter,
.iconm-shell,
.iconm-mysql-alt,
.iconm-wireless,
.iconm-ruby,
.iconm-playframework-alt,
.iconm-raspberrypi,
.iconm-suse,
.iconm-nodejs,
.iconm-java-bold,
.iconm-google-developers,
.iconm-mobile-phone-alt,
.iconm-grails-alt,
.iconm-coffee-bean,
.iconm-cassandra,
.iconm-google-code,
.iconm-fedora,
.iconm-antenna,
.iconm-hadoop,
.iconm-solaris,
.iconm-html,
.iconm-css,
.iconm-satellite,
.iconm-aws,
.iconm-mfizz,
.iconm-php,
.iconm-debian,
.iconm-ghost,
.iconm-php-alt,
.iconm-tomcat,
.iconm-database,
.iconm-grails,
.iconm-freebsd,
.iconm-oracle,
.iconm-fire-alt,
.iconm-platter{

}