$myx-list-closed-bordercolor: $color-primary !default;
$header-background-color: $gray !default;

$listing-font-color: $white !default;
$listing-background-color: $gray !default;

$listing-background-color-level-1: $listing-background-color !default;
$listing-background-color-level-2: lighten($listing-background-color, 10%) !default;
$listing-background-color-level-3: lighten($listing-background-color, 20%) !default;

/* MyX - List group
===
This component is used for optionally-foldable lists and their elements. By adding and removing class "closed", orange border on the left is displayed/hidden.
```
<ul class="myx-list-group">
    <li class="myx-list-group__head myx-table-column closed">
        <div class="col9">
            <div class="myx-list-group__head__title item__info__row--headline">
                <span>BMW Z3</span>
            </div>
            <div class="text-primary activity-actions">
                <a class="edit"><i class="MyX-appbaredit"></i></a>
                <a class="delete"><i class="MyX-appbardelete"></i></a>
            </div>
        </div>
        <div class="col3 text-center">
            <figure class="myx-list-group__head__img"><img src="img/static/BMW/bmw-100x57.png"></figure>
        </div>
    </li>

    <li class="myx-list-group__head myx-table-column">
        <div class="col9">
            <div class="myx-list-group__head__title item__info__row--headline">
                <span>BMW Z4</span>
            </div>
            <div class="text-primary activity-actions">
                <a class="edit"><i class="MyX-appbaredit"></i></a>
                <a class="delete"><i class="MyX-appbardelete"></i></a>
            </div>
        </div>
        <div class="col3 text-center">
            <figure class="myx-list-group__head__img"><img src="img/static/BMW/bmw-100x57.png"></figure>
        </div>
    </li>
</ul>
```
*/
.myx-list-group {
    @include clearfix();
    margin-bottom: 7px;
    font-size: 13px;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    /* Head group */
    &__head {
        background: lighten($gray, 44%);
        border-left: solid 5px lighten($gray, 44%);
        min-height: 75px;
        padding-left: 15px;
        margin-bottom: 7px;
        color: $gray;

        &.myx-table-column {
            height: 75px; //Replaces the minimum height for display:table-cell (Requires iOS6)
        }
        
        &.closed {
            border-color: $myx-list-closed-bordercolor;
        }
        &.no-border {
            border: 0 none;
        }
        &__icon {
            font-size: 40px;
            
            > i {
                top: 2px;
                position: relative;
            }
        }
        &__title {
            padding: 6px 0 1px;
        }
        .activity-actions {
            font-size: 27px;
        }
        &__img {
            > img {
                max-height: 75px;
                max-width: 100%;
                width: auto;
            }
        }
    }
}

/* MyX - Content list
===
lorem ipsum
```
<li class="myx-content-list">
    <ul>
        <li class="myx-content-list__item myx-column">
            <strong class="col5">Name</strong>
            <span class="col7">John Doe</span>
        </li>
        <li class="myx-content-list__item myx-column">
            <strong class="col5">Telephone</strong>
            <span class="col7">00420 123 456</span>
        </li>
        <li class="myx-content-list__item myx-column" ng-show="contact.Email">
            <strong class="col5">Email</strong>
            <span class="col7">john@doe.com</span>
        </li>
        <li class="myx-content-list__item stars-item myx-column">
            <strong class="col5 stars-item__title">Rating</strong>
            <span class="col7 stars stars-item__icon"
                <i class="MyX-appbarstar2"></i>
                <i class="MyX-appbarstar2"></i>
                <i class="MyX-appbarstar2"></i>
            </span>
        </li>
    </ul>
</li>
```
type table
```
<ul class="myx-content-list text-center">
    <li class="myx-content-list--header myx-table-column">
        <div class="col2">Seg.</div>
        <div class="col2">Dropoff time</div>
        <div class="col2">Status</div>
        <div class="col2">Customer</div>
        <div class="col2">Services</div>
        <div class="col2">Vehicle</div>
    </li>
    
    <li class="myx-content-list__table-item myx-table-column">
        <div class="col2"><div class="text-nowrap"><a href="#" class="text-primary">2014-23-ATXQDS</a></div></div>
        <div class="col2"><div class="text-nowrap">2014.05.25</div></div>
        <div class="col2"><div class="text-nowrap">Booked</div></div>
        <div class="col2"><div class="text-nowrap">Jack Davis</div></div>
        <div class="col2"><div class="text-nowrap">Service brake fully</div></div>
        <div class="col2"><div class="text-nowrap">BMW 3 Series Coupe</div></div>
    </li>
    
    <li class="myx-content-list__table-item myx-table-column">
        <div class="col2"><div class="text-nowrap"><a href="#" class="text-primary">2014-23-ATXJHS</a></div></div>
        <div class="col2"><div class="text-nowrap">2014.05.28</div></div>
        <div class="col2"><div class="text-nowrap">Started</div></div>
        <div class="col2"><div class="text-nowrap">Logan Echolls</div></div>
        <div class="col2"><div class="text-nowrap">Change battery</div></div>
        <div class="col2"><div class="text-nowrap">MKZ Presidential 2.0L GTDI</div></div>
    </li>
</ul>
```
Indented list
```
<ul class="myx-content-list--indent">
    <li class="myx-content-list__item">
        <span>Replace brake disc</span>
        <span class="pull-right">$234.00</span>
    </li>
    <li class="myx-content-list__item">
        <span>Replace brake disc</span>
        <span class="pull-right">$234.00</span>
    </li>
    <li class="myx-content-list__item">
        <span>Replace brake disc</span>
        <span class="pull-right">$234.00</span>
    </li>
</ul>
```
*/
.myx-content-list {
    margin-bottom: 10px !important;
    
    &__item {
        @include clearfix();
        @extend .item__info__row--subline;
        padding: 10px 8px;

        border-bottom: solid 1px lighten($gray, 42.5%);
        word-break: break-all;

        strong, span {
            white-space: normal;
        }
        
        &.item__large {
            padding: 14px 8px;
            font-size: 110%;
        }
        &.item__xlarge {
            padding: 14px 18px;
            font-size: 110%;
        }
        &.item-vertical {
            padding: 6px;
            
            strong,
            span {
                padding: 2px 0;
                float: none;
            }
        }
        
        &:last-child {
            border-bottom: 0 none;
        }
        
        &--title {
            @extend .myx-content-list__item;
            @extend .text-lg;
    
            padding-top: 0;
            font-weight: bold;
        }
    }
    &--header {
        @extend .myx-content-list__item;
        @extend .text-lg;
        background-color: $header-background-color;
        color: #fff;
        padding: 0;
        
        [class*="col"] {
            padding: 10px 8px;
            border-left: solid 1px lighten($header-background-color, 25%);
            
            &:first-child {
                border-left: 0 none;
            }
        }
    }
    &__table-item {
        @extend .myx-content-list__item;
        padding: 0;
        
        [class*="col"] {
            padding: 10px 4px;
        }
    }
}

.myx-content-list--indent {
    @extend .myx-content-list;
    margin: 0 0 10px 30px;
    
    .myx-content-list__item {
        padding: 3px 0;
        margin-bottom: 0;
    }
}

.myx-content-list--narrow {
    @extend .myx-content-list;
    
    .myx-content-list__item {
        padding: 5px 0;
    }
}



/*
Listings
------
Collapse listing

    <ul class="myx-list-group--collapse">
        <li class="myx-list-group__item">
            <div class="myx-list-group-head">
                <p class="head-headline">
                  BMW 6 Sedan
                </p>
            </div>

            <div class="myx-list-group-content">
                some content
            </div>
        </li>
        <li class="myx-list-group__item">
            <div class="myx-list-group-head">
                <p class="head-headline">
                  BMW Z4 Roadster but maybe something else, cause I don't know cars
                </p>
            </div>

            <div class="myx-list-group-content">
                some content
            </div>
        </li>
        <li class="myx-list-group__item is-opened">
            <div class="myx-list-group-head">
                <p class="head-headline">
                  Johannes Scharteblau /w 'is-opened'-class
                </p>
            </div>

            <div class="myx-list-group-content">
                some content /w 'is-opened'-class
            </div>
        </li>
        <li class="myx-list-group__item is-disabled">
            <div class="myx-list-group-head">
                <p class="head-headline">
                  Michael Claude Frammoe /w 'is-disabled'-class
                </p>
            </div>

            <div class="myx-list-group-content">
                Bachstelzenvogel /w 'is-disabled'-class
            </div>
        </li>
    </ul>

Nested collapse listings
------
    <ul class="myx-list-group--collapse">
        <li class="myx-list-group__item is-opened">
            <div class="myx-list-group-head">
                <span class="head-headline">
                    Initial Request
                </span>
                <span class="addon size-1">
                    <i class="MyX-appbarcheckmark"></i>
                </span>
                <span class="addon size-4">RMB 7,270</span>
            </div>

            <div class="myx-list-group-content">
                <ul class="myx-list-group--collapse">
                    <li class="myx-list-group__item is-opened">

                        <div class="myx-list-group-head">
                            <span class="head-headline">
                                Change right front tyre
                            </span>
                            <span class="addon size-1">
                                <i class="MyX-appbarcheckmark"></i>
                            </span>
                            <span class="addon size-4">RMB 750</span>
                        </div>

                        <div class="myx-list-group-content">
                            <ul class="myx-content-list">
                                <li class="myx-content-list__item myx-column">
                                    <strong class="col4">Tyre Replacemenet</strong>
                                    <span class="col8">1 Piece</span>
                                </li>
                                <li class="myx-content-list__item myx-column">
                                    <strong class="col4">Tyre Labour</strong>
                                    <span class="col8">1 Unit</span>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="myx-list-group__item">

                        <div class="myx-list-group-head">
                            <span class="head-headline">
                                Change brake light
                            </span>
                            <span class="addon size-1"></span>
                            <span class="addon size-4">RMB 750</span>
                        </div>

                        <div class="myx-list-group-content">
                        </div>
                    </li>
                </ul>
            </div>
        </li>

        <li class="myx-list-group__item">
            <div class="myx-list-group-head">
                <span class="head-headline">
                    Additional
                </span>
                <span class="addon size-1">
                    <i class="MyX-appbarcheckmark"></i>
                </span>
                <span class="addon size-4">RMB 2,350</span>
            </div>

            <div class="myx-list-group-content">
            </div>
        </li>
    </ul>
    
using larger spaces for Collapse listings
------

<div class="myx-content-list__item myx-list-group--collapse collapse__xl">
    <div class="item__info__row--subline myx-list-group__item">
        <strong>Right Front tyre</strong>
    </div>
    <div class="myx-table-column myx-list-group__item">
        <div class="col6">
            <div class="col6">
                Tyre tread depth <input type="text" class="form-control col4"> <small>mm</small>
            </div>
            <div class="col6 text-right">
                Tyre Age <input type="text" class="form-control col4">
            </div>
        </div>
        
        <div class="col2">
            <div class="item__wrap radio label-radio pull-right">
                <label>
                    <input type="radio" class="status__right__green" checked>
                </label>
            </div>
        </div>
        
        <div class="col2">
            <div class="item__wrap radio label-radio pull-right">
                <label>
                    <input type="radio" class="status__right__yellow">
                </label>
            </div>
        </div>
        
        <div class="col2">
            <div class="item__wrap radio label-radio pull-right">
                <label>
                    <input type="radio" class="status__right__red">
                </label>
            </div>
        </div>
    </div>
    <div class="myx-table-column myx-list-group__item">
        <div class="col6">
            Brake pad/shoe thickness <input type="text" class="form-control col2"> <small>mm</small>
        </div>
        
        <div class="col2">
            <div class="item__wrap radio label-radio pull-right">
                <label>
                    <input type="radio" class="status__right__green">
                </label>
            </div>
        </div>
        
        <div class="col2">
            <div class="item__wrap radio label-radio pull-right">
                <label>
                    <input type="radio" class="status__right__yellow">
                </label>
            </div>
        </div>
        
        <div class="col2">
            <div class="item__wrap radio label-radio pull-right">
                <label>
                    <input type="radio" class="status__right__red" checked>
                </label>
            </div>
        </div>
    </div>
</div>
*/

.myx-list-group--collapse {

  &:last-child {
    margin-bottom: 0;
  }
  
  &.collapse__xl {
    .myx-list-group__item {
        margin-bottom: 15px;
        min-height: 34px;
    }
  }
  
  .myx-list-group__item {
    @include clearfix();

    margin-bottom: 4px;

    &.is-opened {
      > .myx-list-group-head {
        border-color: transparent;
      }

      > .myx-list-group-content {
        display: block;
      }
    }

    &.is-disabled {
      .myx-list-group-head {
        cursor: default;
        border-color: lighten($color-primary, 10%);
        color: $gray-light;
      }
    }
    
    .radio, .checkbox {
        margin: 0;
    }

  }

  .myx-list-group-head {
    @include clearfix();

    height: 30px;
    padding: 0 4px 0 10px;

    color: $listing-font-color;
    border-left: solid 4px $color-primary;
    background-color: $listing-background-color-level-1;

    font-size: 18px;
    line-height: 30px;

    cursor: pointer;

    .addon {
      float: right;
      &.size-1{ width: 22px; }
      &.size-2{ width: 44px; }
      &.size-3{ width: 66px; }
      &.size-4{ width: 88px; }
      &.size-5{ width: 110px; }
      &.size-6{ width: 132px; }
      &.size-7{ width: 154px; }
    }
  }

  .head-headline {
    padding: 0 10px 0 0;
    max-width: 70%;
    display: inline-block;

    @extend .text-nowrap;
  }

  .myx-list-group-content {
    display: none;
    padding: 5px 0;
  }

  .myx-list-group--collapse{
    margin-left: 15px;

    .myx-list-group-head{
      background-color: $listing-background-color-level-2;
    }

    .myx-list-group--collapse{
      .myx-list-group-head{
        background-color: $listing-background-color-level-3;
      }
    }
  }
}