/*
Markers
----
```
<div class="myx-marker">
    <div class="myx-marker__photo">
        <!-- photo placeholder -->
        <div style="width:493px;height:282px;background-color:#eeeeee;border:1px solid black;"></div>
    </div>
    <div class="myx-marker__item" style="right: 280px; top: 0;">
        <span class="myx-marker__label label-dodgerblue">B</span>
        <img class="myx-marker__label__img label-dodgerblue" style="width:75px;height:75px;background-color:#ff0000;display:block;" />
    </div>
    <div class="myx-marker__item" style="right: 110px; top: 70px;">
        <span class="myx-marker__label label-firebrick">S</span>
        <img class="myx-marker__label__img label-firebrick" src="./img/static/bmw-m3-cube-small-2.png" />
    </div>
    <a class="myx-marker__next">
        <i class="MyX-appbarchevronright"></i>
    </a>
    <a class="myx-marker__prev">
        <i class="MyX-appbarchevronleft"></i>
    </a>
</div>
```
*/
.myx-marker {
  position: relative;
  z-index: 49;
  
  &__photo {
    text-align: center;
    margin: 50px 0;
    > img {
      width: auto;
      height: auto;
    }
  }

  &__next,
  &__prev {
    position: absolute;
    top: 50%;
    font-size: 40px;
    line-height: 40px;
    margin-top: -20px;
    left: 0;
    z-index: 51;
  }
  &__next {
    right: 0;
    left: auto;
  }
  
  &__item {
    position: absolute;
  }
  
  &__label {
    @extend .label;
    @extend .label-xl;
    display: inline-block;
    
    &__img {
      margin-left: -4px;
      width: auto;
      height: auto;
      border: solid 3px transparent;
      vertical-align: bottom;
    }
  }
}