/* MyX - Scrollable
===
This component can be reused as a wrapper for all scrollable areas. Apart from basic scrolling it adds a shadow which indicates that scrolling is possible. Height matches parent element.

TODO: fix this example
```
<div style="height: 100px;">
    <div class="scrollable">
        <div>Item 1</div><div>Item 2</div><div>Item 3</div>
        <div>Item 4</div><div>Item 5</div><div>Item 6</div>
        <div>Item 7</div><div>Item 8</div><div>Item 9</div>
    </div>
</div>
```
*/
.scrollable {
	height: 100%;
	padding-bottom: 15.7%;
	
	position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	
	&:after,
	&:before {
		content: '';
		height: 15px;

		background: linear-gradient(bottom, #fff 0%, rgba(#fff, 0) 100%);
		
		z-index: z(myx-scrollable-gradient);
		position: absolute;
        bottom: 58px;
        left: 0;
        right: 0;
	}

	&:before {
		background: linear-gradient(#fff 0%, rgba(#fff, 0) 100%);

		bottom: auto;
		top: 0;
	}


	.list-region ul {
		padding: 15px;
	}
	.list-region ul.dashboard-contact-list {
		padding: 0;
	}
	
	&.no-shadow {
		&:after,
		&:before {
			display: none !important;
		}
	}
}

.scrollable-no-effect .scrollable .list-item:last-child:after {
	visibility: hidden;
}
.scrollable > div {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		display: none;
	}
}

.edit-panel-scrollable {
	display: table;
	height: 87%;
	
	.scrollable {
		padding-bottom: 0;
	}
}
