/* my-x progress with slider bar */

.myx-progress {
  @include clearfix();
  
  position: relative;

  margin-top: 35px;
  margin-bottom: 20px;

  .myx-progress-navigation {
    @include clearfix();
    margin-bottom: 7px;
    color: $gray;
  }

  .myx-progress-line {
    height: 7px;
    background: lighten($gray, 20%);
    position: relative;

    .myx-progress-dot {
      width: 17px;
      height: 17px;
      margin: -5px 0 0 -8px;

      border: solid 1px #fff;
      background: $gray;
      border-radius: 50px;

      z-index: 10;
      position: absolute;
        left: 50%; /* default */

      &.myx-step-0 {
        left: 2%;
      }

      &.myx-step-25 {
        left: 25%;
      }

      &.myx-step-50 {
        left: 50%;
      }

      &.myx-step-75 {
        left: 75%;
      }

      &.myx-step-100 {
        left: 97.6%;
      }
    }
  }
  .myx-progress-possition {
    padding: 3px 0 5px;

    z-index: 5;
    position: relative;

    > div {
      height: 8px;
      width: 1px;
      border-right: solid 1px lighten($gray, 20%);

      position: absolute;
    }
    .myx-progress-possition-0 {
      left: 2%;
    }
    .myx-progress-possition-25 {
      left: 25%;
    }
    .myx-progress-possition-50 {
      left: 50%;
    }
    .myx-progress-possition-75 {
      left: 75%;
    }
    .myx-progress-possition-100 {
      left: 97.6%;
    }
  }
  
  .myx-progress__marker-text{
      margin-left: 2px;
      margin-top: 5px;
      font-size: 0.8em;
  }
}