$myxtabs-line-color:        lighten($gray, 30%);
$myxtabs-text-color:        $myxtabs-line-color;
$myxtabs-text-active-color: #212121;


/* Tabs (mostly used in edit pages)
------
```
<ul class="myx-tabs">
    <li class="myx-tabs__item open">
        <div>Planned Jobs</div>
    </li>
    <li class="myx-tabs__item">
        <div>Open Jobs</div>
    </li>
</ul>
```
*/
.myx-tabs {
  @include clearfix();
  border-bottom: solid 1px $myxtabs-line-color;

  &__item {
    position: relative;
    float: left;
    padding: 15px 40px;
    font-weight: bold;
    color: $myxtabs-text-color;
    margin-right: 40px;

    &.open {
      color: $myxtabs-text-active-color;

      &:after {
        content: '';
        width: 0;
        height: 0;
        margin-left: -7px;

        border-style: solid;
        border-width: 0 7px 7px 7px;
        border-color: transparent transparent $myxtabs-line-color transparent;

        position: absolute;
        bottom: 0;
        left: 50%;
      }
    }
  }
}