$tile-width: 150px !default;

$tile-box-background-color: $color-primary !default;
$tile-box-date-color: $lighterGray !default;

$slider-background-color: $color-info !default;
$slider-disabled-bgcolor: $gray !default;
$slider-icon-bgcolor: $darkGray !default;

$tile-actions-color: $color-primary !default;


/* Check-In tile in appointments.
------
    <div class="page-tile">
        <div class="page-tile-box">
            <div class="page-tile-box__header">
                <div class="page-tile-box__header__icon">
                    <i class="myicon-pick_up"></i>
                </div>
            </div>
            <div class="page-tile-box__content">
                <p class="page-tile-box__content__time">5:06 AM</p>
                <p class="page-tile-box__content__date">Friday, Jan 1</p>
            </div>
        </div>
        <div class="slider-bar">
            <span class="slider-bar__text">check in</span>
            <div class="slider-bar__icon">
                <i class="MyX-appbararrowright2"></i>
            </div>
        </div>
    </div>
*/
.page-tile {
    width: $tile-width;
}
.page-tile-box {
    height: $tile-width;
    background: $tile-box-background-color;
    color: white;

    &__header {
        &:after {
            display: table;
            clear: both;
            content:"";
        }
        
        &__icon {
            float: left;
            padding: 4px 8px;
            line-height: 30px;
            background: $darkGray;
            border-right: solid 1px $tile-box-background-color;
            font-size: 24px;
        }
        &__hours {
            text-align: center;
            padding-top: 8px;
            font-size: 20px;
            line-height: 20px;
        }
    }
    &__content {
        padding: 44px 0;
        
        &__time {
            margin: 0;
            color: $white;
            text-align: center;
            font-size: 27px;
        }
        &__date {
            margin: 0;
            color: $tile-box-date-color;
            text-align: center;
            font-size: 12px;
        }
        &--image {
            padding: 0;
        }
    }
}

/* Slider below tile
------
    <div class="slider-bar">
        <span class="slider-bar__text">check in</span>
        <div class="slider-bar__icon">
            <i class="MyX-appbararrowright2"></i>
        </div>
    </div>
*/
 .slider-bar {
    display: table;
    background-color: $slider-background-color;
    color: white;
    height: 32px;
    margin-top: 10px;
    width: 100%;
    &.disabled {
        background-color: $slider-disabled-bgcolor;
    }

    &__text {
        display: table-cell;
        width: 84%;
        text-align: center;
        vertical-align: middle;
    }
    &__icon {
        display: table-cell;
        height: 100%;
        background-color: $slider-icon-bgcolor;
        font-size: 30px;
        line-height: 30px;
    }
}

/* Actions below tile
------
  <div class="page-tile-actions">
      <div class="page-tile-actions__item">
          <i class="MyX-appbarcamera"></i> Take Photo
      </div>
      <div class="page-tile-actions__item">
          <i class="MyX-appbarcamera"></i> Do something very very complex and let the user know about it
      </div>
      <div class="page-tile-actions__item">
          <i class="MyX-appbarcamera"></i> Take a break
      </div>
  </div>
*/
.page-tile-actions{
  margin: 10px 0 5px;
  color: $tile-actions-color;
  font-size: 14px;

  &__item{
      margin-bottom: 10px;
      line-height: 26px;

      > i {
        font-size: 26px;
        position: relative;
        top: 6px;
        margin-right: 5px;
      }
    }
}