$widget-title-color: $color-secondary !default;
$widget-title-bgcolor: $color-primary !default;

.dashboard-block {
	.title {
		margin-bottom: 10px;
	}
}

.title {
	color: $color-secondary;
	background-color: $widget-title-bgcolor;
	padding: 10px 15px;
	clear: both;
	display: block;
	height: 48px; /* because of vertical responsive wagon */

	h2 {
		margin-top: 0;
		margin-bottom: 0;
		font-weight: lighter;
		line-height: 27px;
		font-size: 25px;
	}
	i {
		font-size: 25px;
		line-height: 28px;
	}
	.icon-text {
		font-size: 17px;
		line-height: 28px;
	}
}
