.capacity {
    &__table--cell {
        @extend .text-center;
        &.free {
            @extend .text-white;
            background-color: $capacity-free;
        }
        &.undefined {
            @extend .text-white;
            background-color: $capacity-undefined;
        }
        &.disabled {
            @extend .text-white;
            background-color: $capacity-disabled;
        }
        &.full {
            @extend .text-white;
            background-color: $capacity-full;
        }
        &.almost-full {
            @extend .text-white;
            background-color: $capacity-almostFull;
        }
        .modified {
            text-decoration: underline;
        }
    }
    &__table--title {
        padding: 8px 0;
    }
    &__scroll-icon {
        width: 5%;
        color: $blue-primary;
        font-size: 40px;
    }
    &__button {
        &--on {
            background-color: $capacity-button;
            color: $color-primary;
        }
        &--off {
            @extend .text-white;
            background-color: $capacity-button;
        }
    }
}

.page-edit {
    .capacity__table--cell {
        @extend .no-wrap;
        width: 50px;
        padding: 8px 0;
        margin-right: 20px;
    }
    .capacity__legend {
        &--row {
            margin-top: 10px;
        }
        &--icon {
            padding: 0 10px;
            margin-right: 5px;
        }
    }
}

.view-location {
    .capacity__table--cell {
        margin-right: 2px;
    }
}

.capacity__edit__content {
    span {
        padding-left: 10px;
        padding-right: 4px;
    }
}
