.dashboard-block--title {
    font-size: 28px;
    height: 31px;
    .title__icon {
        i {
            font-size: 28px;
        }
    }
}
/* Color of search bar on home dashboard
div.myx-common-dashboard-search {
    background-color: $blue-primary;

}
*/

/* ==========================================================================
MyX - DASHBOARD LOCATIONS
========================================================================== */
 .dashboard-block--locations {
    @extend .dashboard-block-inner--default;
}
.icon--dropdown {
    margin-right: 5px;
    font-size: 40px;
    i {
        color: $color-secondary;
    }
}
.myx-common-dashboard-search:hover {
    i {
        color: $color-primary;
    }
}
.results-wrapper {
    position: relative;
    /* because of padding on myx-common-dashboard-search */
    margin-left: -6px;
    margin-top: -5px;
    z-index: 201;
    overflow: hidden;
    background: white;
    border: solid 1px $color-primary;
    .results {
        position: relative;
        height: 200px;
        padding: 0;
        overflow: scroll;
        list-style-type: none;
    }
    li {
        padding: 10px 30px;
        color: $gray;
    }
    .create-company-button {
        width: 90%;
        margin: auto;
    }
    .scrollable:before, .scrollable:after {
        height: 0;
    }
    .item-selected {
        background: #659bd3;
        color: #fff;
    }
}
.item-panel {
    padding: 10px 10px 10px 20px !important;
    margin-bottom: 15px !important;
    background: $blue-primary;
    color: #ffffff;
    .item-panel--head {
        .item-panel--head--title {
            margin: 0;
            padding: 0;
            font-size: 18px;
            line-height: 34px;
            .item-panel--icon {
                font-size: 34px;
            }
        }
    }
    .item-panel--content {
        font-size: 12px;
        color: lighten($blue-primary, 30%);
        p {
            margin: 0;
        }
    }
}
.myx-content-list__item {
  &.myx-column {
    .myx-map {
      width: 324px;
    }
  }
}
