.myx-panel__buttons {
  padding: 15px 35px 25px 0;

  position: fixed;
  bottom: 0;
}

.btn-back {
  background-color: transparentize($gray, .2);
  color: #fff;

  &:hover {
    background-color: transparentize($gray, .01);
  }
}

.form-control {
  &.form-brand-input {
    display: inline-block;

    width: 85%;

    padding: 6px 37px 6px 12px;

    border-top: 0;
    border-right: 0;
  }

  &.form-brand-btn-remove {
    display: inline-block;

    width: 15%;

    border-top: 0;
    border-left: 0;
  }

  &.checkbox-group {

    height: inherit;
    padding: 0 12px;

    border: none;

    .label-checkbox {
      input{
        margin-right: 5px;
      }

      label {
        margin: 5px 10px 5px 0;
        font-size: 14px;
      }
    }

    &.ng-invalid {
      border: 1px solid $red;
    }
  }
}


@-moz-document url-prefix() {
  .form-control.form-brand-input {
    margin-right: -4px;
  }
}

.staff {
  .activity-actions {
    font-size: 27px;
  }

  .panel-size-4x {
    .add {
      margin-right: 2px;
      vertical-align: middle;
      font-size: 24px;
    }
  }
}

.edit-images {
  .image-item {
    float: left;

    width: 23%;
    margin-bottom: 20px;
    margin-right: 10px;

  }

  .image-button {
    width: 23%;
    border: 1px solid #000;

    .take-image {
      margin: 0 6%;

      font-size: 150px;
      line-height: 130px;
    }
  }
}