/* ==========================================================================
                            MyX - Bar Bottom
            For eg. Used by quote and order overview pages
========================================================================== */

$margin-bottom-bar: 200px !default;

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.myx-footer-modal {
    background: darken($gray, 30%);
    color: #fff;
    z-index: z(myx-bottom-bar);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    
    animation-name: fadeInUp;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    
    .myx-footer-modal-body {
        @include clearfix();
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
        max-width: 880px;
    }
    
    .myx-content-list__item {
	    color: #fff;
	    padding: 8px;
    }
}

/* Add extra space to avoid content overlay with bottom bar, usually add on last element or the save/cancel button group */
.margin-bottom-bar {
    margin-bottom: $margin-bottom-bar !important;
}