.metro {
  position: relative;
  height: 30px;
  width: 100%;
  
  border-bottom: 1px solid $navbar-default-link-active-color;

  .scroll-btn {
    position: absolute;
      right: -1px;
      top: 0;
      bottom: 0;
    width:30px;
    height:30px;
    i {
      font-size: 30px;
    }
  }
}

.scrollable {
  position: absolute;
    left: 5%;
    right: 0;
    top: 0;
    bottom: 0;
  width: 95%;
  overflow: hidden;
}

.scrollable--actual {
  width: 100%;
  height: 45px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.active-section {

  &__item {
    @extend .text-center;
    background-color: $navbar-default-toggle-hover-bg;
    width: 150px;
    line-height: 30px;
    height: 30px;
    padding: 0 5px;
    border-right: 1px solid $navbar-default-link-active-color;
    float:left;
    display: inline-block;

    &.is-select {
      background-color: $navbar-default-bg;
    }

    &.is-first {
      border-left: 1px solid $navbar-default-link-active-color;
    }

    &:hover {
      background-color: $navbar-default-bg;
    }

    span {
      font-size: 16px;
    }
  }
}

.section {
  border-top: 1px solid $navbar-default-link-active-color;
  width: 100%;
}