/* MyX - Column
===
Classic column layout
```
<li class="myx-column">
	<strong class="col3">Name</strong>
	<span class="col9">John Doe</span>
</li>
<li class="myx-column">
	<strong class="col5">Name</strong>
	<span class="col7">John Doe</span>
</li>
<li class="myx-column">
	<strong class="col8">Name</strong>
	<span class="col4">John Doe</span>
</li>
```
*/
.myx-column {
	@include clearfix();
	width: 100% !important;
	display: block !important;

    [class^="col"],
	[class*=" col"] {
		display: block;
		float: left;
		min-height: 1px;

	}
	@for $i from 1 through 12 {
		.col#{$i} {
			width: ((100 / 12) * $i) * 1%;
		}
	}
	
	img {
		max-width: 100%;
		width: auto;
	}
}
/* MyX - Column
===
Finer column layout
```
<li class="myx-column-finer">
	<strong class="col16">Name</strong>
	<span class="col8">John Doe</span>
</li>
<li class="myx-column-finer">
	<strong class="col12">Name</strong>
	<span class="col3">1</span>
	<span class="col3">2</span>
	<span class="col3">3</span>
	<span class="col3">4</span>
</li>
```
*/
.myx-column-finer {
	@include clearfix();
	width: 100% !important;
	display: block !important;

    [class^="col"],
	[class*=" col"] {
		display: block;
		float: left;
		min-height: 1px;

	}
	@for $i from 1 through 24 {
		.col#{$i} {
			width: ((100 / 24) * $i) * 1%;
		}
	}
	
	img {
		max-width: 100%;
		width: auto;
	}
}
/* MyX - Table Column
===
Horizontal align column
```
<li class="myx-table-column">
	<strong class="col3">Name</strong>
	<span class="col9">John Doe</span>
</li>
```
*/
.myx-table-column {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;

    [class^="col"],
	[class*=" col"] {
		display: table-cell;
		vertical-align: middle;
		
        &.item__info{
            vertical-align: top;
        }
	}
	@for $i from 1 through 12 {
		.col#{$i} {
			width: ((100 / 12) * $i) * 1%;
		}
	}
}

/* MyX - Lines
===
Vertical grid system
```
<li class="myx-lines" style="height:150px;"> <!-- inline style for demo -->
	<strong class="line6">Name</strong>
	<span class="line6">John Doe</span>
</li>
```
*/
.myx-lines {
    [class^="line"],
	[class*=" line"] {
		display: block;
		min-height: 1px;
	}
	@for $i from 1 through 12 {
		.line#{$i} {
			height: ((100 / 12) * $i) * 1%;
		}
	}
}

/* MyX - Table cell
===
Horizontal alignment of columns with automatic width
```
<div class="myx-table-cell">
	column 1
</div>
<div class="myx-table-cell">
	column 2
</div>
<div class="myx-table-cell">
	column 3
</div>
```
*/
.myx-table-cell {
	display: table-cell;
	width: 1%;
	vertical-align: middle
}