.warning-panel {
    position: absolute;
    left: 0;
    bottom: 0;
}

.panel-size-1x {
    width: $edit-panel-size-1x;
    margin-right: 5px;
    float: left;
}
.panel-size-2x {
    width: $edit-panel-size-2x;
    margin-right: 15px;
    float: left
}
.panel-size-3x {
    width: $edit-panel-size-3x;
    margin-right: 35px;
    float: left;
}
.panel-size-4x {
    width: $edit-panel-size-4x;
    margin-right: 35px;
    float: left;
}