$bg-flying-term: #f3f3f3 !default;
$fz-flying-term-content: 16px !default;
$fc-flying-term-content: #373737 !default;

/* Flying overlay
===
This element acts as full-screen overlay, which is suitable for terms & conditions pages, help popups and other information which should not otherwise disrupt navigation flow. To use it, modify the following html as you see fit.
```
<div class="flying-term">
    <h1><i class="MyX-appbararrowleft"></i> Terms &amp; Conditions</h1>
    <div class="flying-term--content">
        <div class="scrollable">
            <div class="flying-term__text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Et harum quidem rerum facilis est et expedita distinctio. Pellentesque sapien. Nulla non lectus sed nisl molestie malesuada. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Suspendisse nisl. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Aenean fermentum risus id tortor. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Quisque porta. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Donec quis nibh at felis congue commodo. Fusce suscipit libero eget elit. Integer malesuada. In laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Nulla non lectus sed nisl molestie malesuada.</p>

                <h2>Aliquam erat volutpat</h2>
                <p>Aliquam erat volutpat. Maecenas libero. Aliquam erat volutpat. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Aliquam id dolor. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Integer pellentesque quam vel velit. Etiam posuere lacus quis dolor. Maecenas sollicitudin. Nullam dapibus fermentum ipsum. Aliquam ante.</p>

                <div class="flying-term__footer">
                    <div class="flying-term__footer__item pull-left">
                        <strong class="text-lg ng-scope">Representative Signature</strong>
                        <div class="signatureparent"><div class="signature"><div class="signature-cover"></div><button class="btn btn-primary button-initialize"><i class="MyX-appbaredit2"></i> Sign</button><span class="button-clear">Clear</span></div><button class="btn btn-primary pull-left button-reset"><i class="MyX-appbarundo2"></i> Reset</button><button class="btn btn-primary pull-right button-confirm"><i class="MyX-appbarcheck2"></i> Confirm</button></div>
                    </div>
                    <div class="flying-term__footer__item pull-right">
                        <strong class="text-lg ng-scope">Client Signature</strong>
                        <div class="signatureparent"><div class="signature"><div class="signature-cover"></div><button class="btn btn-primary button-initialize"><i class="MyX-appbaredit2"></i> Sign</button><span class="button-clear">Clear</span></div><button class="btn btn-primary pull-left button-reset"><i class="MyX-appbarundo2"></i> Reset</button><button class="btn btn-primary pull-right button-confirm"><i class="MyX-appbarcheck2"></i> Confirm</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
```
*/
.flying-term {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
    z-index: z(myx-overlay);

	&--container {
	  $color-rgba: rgba(red(#ccc), green(#ccc), blue(#ccc), .6);

	  position: relative;
	  background: #fff;
	  width: 80%;
	  max-width: 720px;
	  min-width: 450px;
	  padding: 10px;
	  margin: 0 auto;
	  margin-top: 200px;
	  border: 1px solid #ccc;
	  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 18px $color-rgba);

	  label {
		font-weight: bold;
		width: 60px;
	  }

	  .form-control {
		display: inline-block;
		width: 200px;

		&.ng-invalid {
		  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px $red);
		}
	  }

	  .form-feature {
		max-height: 300px;
		min-height: 150px;
		overflow-y: scroll;
		input { width: 70%; }
		button { width: 19%; }
	  }

	  .flying-term__form {
		display: block;
		padding-bottom: 20px;
	  }
	}

	h1 {
		display: block;
	  	width: 100%;
	  	height: 30px;
	  	border-bottom: 1px solid #ccc;
		font-size: 18px;
	  	color: $background-primary;
		
		> i {
			color: $gray;
		  	position: absolute;
		  	right: -5px;
		    top: -5px;
		}
	}

	&--content {
		position: relative;
		margin: 2% auto 0;
		display: table;
		font-size: $fz-flying-term-content;

		p {
			font-size: $fz-flying-term-content;
			color: $fc-flying-term-content;
		}
	}

  .flying-term__text {
	height: 100%;
	padding: 10px 0 20px;
  }

	.flying-term__footer {
		@include clearfix();
		margin: 10px 0 10px;
		
		.flying-term__footer__item {
			width: 40%;
		}
	}
}

.myx-select {
  position: relative;
  display: inline-block;
  width: 200px;
  z-index: z(myx-select);

  .dropdown {
	overflow-y: scroll;
	width: 100%;
	max-height: 250px;
	padding: 0px !important;
	border: 1px solid #b8b8b8;
	position: absolute;
	top: 36px;
	z-index: z(myx-select-dropdown);
	background-color: white;
  }

  .dropdown li {
	display: block;
	width: 200px;
	height: 30px;
	padding: 1px 12px !important;

	&.feature-group {
	  text-align: left;
	  font-weight: bold;
	  border-top: 1px solid #b8b8b8;
	  border-bottom: 1px solid #b8b8b8;
	  background-color: #f8f8f8;
	}

	&:hover {
	  padding: 0 12px;
	  background-color: $background-secondary;
	  border: 1px solid $color-primary;
	}
  }
}

.link-terms {
    @extend .text-primary;
    @extend .text-lg;

    word-break: break-all;

    display: block;
    padding-top: 15px;
}