/* ==========================================================================
APPMONITOR SPECIFIC VARIABLES
========================================================================== */

$blue-primary: #659bd3 !default;
$orange: #ff9933 !default;
$apple: #999999 !default;
$green: #00851c !default;
$red: #d9534f !default;
$blue: blue !default;
$white: white !default;
$gray: gray !default;
$darkGray: #494949 !default;
$lightGray: #e8e8e8 !default;
$grayContact: #bcbec1;

$color-primary: #99DCF9 !default;
/* Secondary color is by default mostly used as background color */
$color-secondary: white !default;
/* Tertiary color is by default not used anywhere */
$color-tertiary: black !default;
/* Quaternary color is by default not used anywhere */
$color-quaternary: black !default;

$color-emphasis: black !default;
// Used for slider-bar below tile
$color-info: #2aa2dc !default;

$text-primary: $darkGray !default;
$background-primary: #2B579A;
$background-secondary: #D1E8FF;
$capacity-free: #090 !default;
$capacity-full: #f00 !default;
$capacity-almostFull: #f90 !default;
$capacity-disabled: #666 !default;
$capacity-undefined: #999 !default;
$capacity-button: #ccc !default;

// Used for text in page tile (date)
$lighterGray: #ffcd9c !default;

$edit-default-padding: 35px !default;

$edit-panel-size-1x: 265px !default;
$edit-panel-size-2x: 350px !default;
$edit-panel-size-3x: 720px !default;
$edit-panel-size-4x: 930px !default;
$edit-panel-size-5x: 1350px !default;

$default-padding: 15px !default;

$tile-width: 150px !default;

$themes: () !default;

$default-icon-size:	28px !default;

/* ==========================================================================
MyX Buttons
========================================================================== */
$btn-default-color:              #fff !default;
$btn-default-bg:                 #686868 !default;
$btn-default-border:             darken($btn-default-bg, 5%) !default;

/* ==========================================================================
DEFAULT VARIABLES
========================================================================== */
@import "../default/variables";