#mysales-app, .dashboard-block, .dashboard-block-inner, .block-wrap {
	height: 100%;
}
.block-wrap {
	position: relative;
}
.current {
	height: 100%;
	display: table;
	width: 100%; //fix word wrap with subtitles page (link to homepage)
}
.list-region {
	background: $white;
	height: 100% !important;
	position: relative;
}
.dashboard-block-wrapper {
	height: 95% !important;
}