<form name="outerScope.roleForm" novalidate="novalidate">
    <div class="flyint-term__form">
        <div class="panel-size-1x text-center">
            <div class="form-group">
                <label for="search-name">角色名</label>
                <input class="form-control" ng-model="outerScope.editRole.name" name="search-name" id="search-name" required/>
            </div>
            <div class="form-group">
                <label for="search-desc">描述</label>
                <input class="form-control" ng-model="outerScope.editRole.desc" name="search-desc" id="search-desc" required/>
            </div>
            <div class="form-group">
                <label>权限</label>
                <div class="myx-select" close-when-outside-click show-property="dropdown">
                    <div myx-fast-click ng-init="dropdown=false" ng-click="dropdown=!dropdown" class="form-control"><i class="icon-menu2 icon-large text-primary"></i>&nbsp;选择角色权限</div>
                    <ul ng-hide="!dropdown" class="dropdown">
                        <li ng-class="{'feature-group': outerScope.isGroup(feature)}" ng-click="outerScope.updateFeatures(feature)"
                                ng-repeat="feature in outerScope.flaternedFeatureList" myx-fast-click>{{ feature.group }}{{ feature.name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-size-1x text-center">
            <div class="form-group">
            <ul class="form-feature">
                <li ng-repeat="feature in outerScope.editRole.features">
                    <input type="text" class="form-control" value="{{ feature.desc }}" disabled>
                    <button class="form-control form-brand-btn-remove" myx-fast-click ng-click="outerScope.removeFeature(feature)"><i class="icon-close icon-smaller"></i></button>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="flying-term__footer">
        <div class="pull-right">
            <button class="btn-primary btn" ng-click="outerScope.saveRole()">保存</button>
            <button class="btn-default btn" ng-click="outerScope.resetForm()">还原</button>
        </div>
    </div>
</form>