$grayContactActionBg: $grayContact !default;

// CONTACT CREATION

.contact-creation-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.contact-creation {
  input[type="text"] {
    height: 30px;
  }

  textarea {
    height: 40px;
  }

  .field-Topic, .field-Rating {
    width: 50%;

    float: left;
  }

  .field-Rating {
    padding-left: 15px;
  }

  .field-VehicleInterestIndexs {
    label {
      width: 100%;
    }
  }

  .addRanking {
    font-size: 30px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .field-Status label {
    width: 100%;
  }
}

// CONTACT PAGE

.contactDetailPanel {
  margin-left: $single-width/6;
  h2 {
    margin-top: 0;
  }
}

.contact-actions {
  margin: 50px 0 5px;
}

.vehicle-actions,
.contact-actions {
  > a, div {
    margin-bottom: 20px;
    line-height: 26px;

    > i {
      font-size: 26px;
      position: relative;
      top: 5px;
      margin-right: 5px;
    }
  }
}

.item-content-region {
  @extend .dashboard-block-inner--default;

/*
  ul, li {
    padding: 0;
    margin: 0;
  }
*/
}

.contact-info {
  background-color: white;
  overflow: auto;
  margin-top: 10px;

  i {
    background-color: #a3a3a3;
    color: #fff;
    font-size: 2em;
    padding: 10px;
    width: $single-width/4;
    text-align: center;
  }

  .content {
    padding: 15px;
    padding-left: 70px;
  }

  &.contact-description {
    height: 336px;
    padding: 15px;
  }
}

.opportunity-info {
  height: 290px;
}

.contact-item-region {
  height: 520px;
}

/* ==========================================================================
Order Overview
========================================================================== */
.order-overview {
  .myx-content-list {
    > ul {
      padding: 0 !important;
      margin-bottom: 15px;
    }
    .myx-content-list__item {
      border-bottom: solid 1px lighten($gray, 25%);
    }
  }
  .list-region {
    background: transparent;
  }
}


/* Order Overview */
.order-overview {
  .scrollable {
    padding-bottom: 0;
    .list-region {
    background: transparent;
    }
    ul {
      padding: 0;
      .list-item {
        height: auto;
        &:last-child {
          margin-bottom: 0;
        }
                .vehicle-information-title
        .vehicle-information-list {
          padding: 0;
          margin: 5px 0 20px;


          li {
            @include clearfix();
            border-bottom: solid 1px lighten($gray, 25%);
            margin-top: 1px;
            padding: 8px 0;
      &.no-border {
          border: 0 none;
        }
            &.vehicle-information-item {
        &.vertical-item {
          line-height: 28px;
        }
              span {
                color: lighten($gray, 10%);
                width: 65%;
                float: left;
              }

              strong {
                width: 35%;
                display: inline-block;
              }

              .vehicle-information-item-title {
                width: 50%;

                span,
                strong {
          width: 100%;
          display: inherit;
                }
              }
                            .vehicle-information-item-content{
                                color: darken($gray,10%);
            }
          }
                    }
          .vehicle-information-title {
            span {
              opacity: .8;
            }
          }
          &.accessories {
            li {
              &.vehicle-information-item {
                label {
                  width: 66%;
                  float: left;
                  margin: 0;
                }
                strong {
                  width: 34%;
                }
              }
            }

          }
        }
      }
    }

    .vehicle-information-title {
      margin-bottom: 5px;
      span {
        font-size: 120%;
      }
    }
  }
  .terms li {
      padding: 5px 0 0 5px;
  }
  .discount {
    padding: 1px 5px;
    width: 60%;
  }
  .vehicle-information-list {
    &.accessories {
      .label-checkbox input[type="checkbox"] {
        vertical-align: text-bottom;
        margin-right: 10px;
        float: left
      }
      label {
        color: lighten($gray, 10%);
      }
    }
  }
}

.iconMail {
    cursor: pointer;
}

.dashboard-block--contacts .contact_foreign {
  &.block--contacts__item, &.contacts__item__action {
    background-color: $grayContact;
  }

  .contacts__item__action{
    background-color: $grayContactActionBg !important;
  }

  strong, .contacts__item__info__name, .contacts__item__info__vehicle {
    color: $gray !important;
  }

  a {
    cursor: default !important;
  }

  .contact_private, .contacts__item__info__phone, .contacts__item__info__email {
    display: none;
  }
}

/* ==========================================================================
Edit contact
========================================================================== */
.edit--contact {

  .edit--contact__search {
    margin-left: 36px;

    .item-content-region {
      padding: 0;
    }
    .myx-content-list__item {
      border-bottom: 0 none;
      padding: 3px 8px;
      span, strong { 
      }
      .col8 {
        color: $color-emphasis;
      }
    }
    li.myx-content-list {
      padding: 5px 0 100px 0;
    }
  }
}
