/* -------------------------------------------
    For pages that doesnt scroll left/right
    like Quote overview and Order overview
-------------------------------------------- */ 

.order-overview {
    @extend .overview;
}

.overview {
    #content {
        float: none;
        width: 100%;
    }
    .current {
        display: block;
    }
    .list-region {
        padding-right: 70px;
    }
}

.overview-page {
    position: relative;
    height: 100%;
    width: 100%;
}

.overview-wrapper {
    padding: 0px 20px;
}

.overview-inner {
    display: flex;
}

.overview__title {
    @extend .text-primary;
    padding: 0px 15px;
}

.overview__block {
    flex: 1;
    padding-right: 40px;
    &:last-child {
        padding-right: 0;
    }
    .myx-content-list .myx-content-list__item {
        border-bottom: solid 1px lighten($gray, 25%);
    }
}