@mixin ellipsis() {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin fontface() {
	font-family: $font-primary;
	
	strong {
		font-family: $font-primary;
        font-weight: bold;
	}
	span {
		font-family: $font-primary;
	}
}

/* Background image
===
Mixin to use a background image primarily for SVG
```
.login__content__logo{
	@include background-image("#{$appmonitor-font-path}/appmonitor.svg", 250px, 94px);
}
```
*/
@mixin background-image($image, $width, $height) {
    background-image: url($image);
    background-size: $width $height;
    width:  $width;
	height: $height;
	display: block;
}